<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="msapplication-TileColor" content="#1A0066"/>
<meta name="msapplication-TileImage" content="/images/win8_symbol_140x140.png"/>
<title>{$SiteName/}_首页</title>
{$MetaKeywords/}
{$MetaDescription/}
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/JS/Controls/B_User.js"></script>
<script src="/dist/js/swiper.min.js"></script>
<link rel="stylesheet" href="/dist/css/swiper.min.css" />
</head>
<body>
<div class="home_nav">
<nav class="navbar navbar-default">
<div class="container">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/"><img src="{$CssDir/}images/logo.svg" alt="{$SiteName/}" /></a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav navbar-right">
<li><a href="{ZL:GetNodeLinkUrl(1)/}">起步</a></li>
<li><a href="#">注册</a></li>
<li><a href="#">案例</a></li>
<li><a href="#">团队</a></li>
<li><a href="#">帮助</a></li>
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
</div>

<div class="home_login">
<div class="input-group hidden">
<input type="text" class="form-control" placeholder="输入手机号码/邮箱">
<span class="input-group-btn">
<button class="btn btn-info" type="button">免费注册</button>
</span>
</div>
</div>
<div class="home_banner">
<div class="swiper-container">
<div class="swiper-wrapper">
<div class="swiper-slide banner1">
<div>
<p class="home_banner_p1">智能办案</p>
<p class="home_banner_p2">人工智能的法务助理，从此简单</p>
<p class="home_banner_p3">让管理更简单，让业务更敏捷</p>
<a href="/user/" class="btn btn-warning btn-lg">进入系统</a>
</div></div>
<div class="swiper-slide banner2">
<div>
<p class="home_banner_p1">唯美也是生产力</p>
<a href="/user/" class="btn btn-warning btn-lg">进入系统</a>
</div>
</div>
<div class="swiper-slide banner3">
<div>
<p class="home_banner_p1">静如处子的AI</p>
<a href="/user/" class="btn btn-warning btn-lg">进入系统</a>
</div>
</div>
<div class="swiper-slide banner4">
<div>
<p class="home_banner_p1">愈高-浪滔滔！</p>
<a href="/user/" class="btn btn-warning btn-lg">进入系统</a>
</div></div>
</div>
<!-- Add Pagination -->
<div class="swiper-pagination swiper-pagination-white"></div>
<!-- Add Arrows -->
<div class="swiper-button-next swiper-button-white"></div>
<div class="swiper-button-prev swiper-button-white"></div>
</div>
</div>
</body>
</html>
<script>
var swiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    paginationClickable: '.swiper-pagination',
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    spaceBetween: 30,
    effect: 'fade',
    loop:true,
	keyboardControl : true,
    autoplay:4000
});
</script>